  <div class="container-sm w-50 p-3">
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Patient Profile</strong>
        </c-card-header>
    
        <c-card-body>
          <form cForm>
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Name</label>
              <input
                cFormControl
                id="exampleFormControlInput1"
                type="text"
                [(ngModel)]="name"
                name="name"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">Email</label>
              <input
                cFormControl
                id="exampleFormControlInput1"
                type="text"
                [(ngModel)]="email"
                name="email"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput1">phone</label>
              <input
                cFormControl
                id="exampleFormControlInput1"
                type="text"
                [(ngModel)]="phone"
                name="phone"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlTextarea1">birthDate</label>
              <input type="date"
                cFormControl
                id="exampleFormControlTextarea1"
                rows="3"
                ngModel
                name="birthDate"
                [(ngModel)]="birthDate"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlTextarea1">gender</label>
              <input
                cFormControl
                id="exampleFormControlTextarea1"
                rows="3"
                ngModel
                name="gender"
                [(ngModel)]="gender"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlTextarea1">height</label>
              <input
                cFormControl
                id="exampleFormControlTextarea1"
                rows="3"
                ngModel
                name="height"
                [(ngModel)]="height"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlTextarea1">weight</label>
              <input
                cFormControl
                id="exampleFormControlTextarea1"
                rows="3"
                ngModel
                name="weight"
                [(ngModel)]="weight"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlTextarea1">address</label>
              <input
                cFormControl
                id="exampleFormControlTextarea1"
                rows="3"
                ngModel
                name="address"
                [(ngModel)]="address"
              />
            </div>
            
            <div class="mb-3">
              <button class="btn btn-primary"(click)="backToView()">Ok</button>
            </div>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </div>
