<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="doctorForm">
              <h3>Doctor Register</h3>
              <p class="text-medium-emphasis"></p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="fname" cFormControl formControlName="fName" placeholder="First Name"/>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="lname" cFormControl formControlName="lName" placeholder="Last Name" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input autoComplete="email" cFormControl formControlName="email" placeholder="Email" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>..</span>
                <input autoComplete="phone" cFormControl formControlName="phone" placeholder="phone" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon="cliLockLocked"></svg>
                </span>
                <input autoComplete="licenseNo" cFormControl formControlName="licenseNo" placeholder="licenseNo" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon="cliLockLocked"></svg>
                </span>
                <input autoComplete="licenseExp" cFormControl formControlName="licenseExp" placeholder="licenseExp" type="Date" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon="cliLockLocked"></svg>
                </span>
                <input autoComplete="expertise" cFormControl formControlName="expertise" placeholder="expertise" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon="cliLockLocked"></svg>
                </span>
                <input autoComplete="experience" cFormControl formControlName="experience" placeholder="experience" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon="cliLockLocked"></svg>
                </span>
                <input autoComplete="birthDate" cFormControl formControlName="birthDate" placeholder="birthDate" type="Date" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="gender" cFormControl placeholder="gender" formControlName="gender" type="gender" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="address" cFormControl placeholder="address" formControlName="address" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="qualification" cFormControl placeholder="qualification" formControlName="qualification" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Password" formControlName="password" type="password" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input placeholder="Date" type="date" onfocus="(this.type='date')" id="date">
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" (click)="doctorReg()">Add Doctor</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
