<c-container class="shadow-sm mb-5 bg-white rounded">
  <c-row>
    <c-card class="p-0">
      <c-card-header
        >Doctors List
        <button class="btn btn-info me-3 float-end" (click)="openDocReg()">
          Add Doctor
        </button></c-card-header
      >
      <c-card-body>
        <table class="table table-striped mb-0">
          <thead>
            <tr class="align-middle">
              <th>#</th>
              <th>Name</th>
              <th>Gender</th>
              <th>Qualification</th>
              <th>Expertise</th>
              <th>Location</th>
              <th>Email</th>
              <th>Phone</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody
            class="table-group-divider"
            class="table-group-divider"
            *ngFor="let doctor of doctors; let i = index"
          >
            <tr class="">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ doctor.name }}</td>
              <td>{{ doctor.gender }}</td>
              <td>{{ doctor.qualification }}</td>
              <td>{{ doctor.expertise }}</td>
              <td>{{ doctor.address }}</td>
              <td>{{ doctor.email }}</td>
              <td>{{ doctor.phone }}</td>
              <td class="align-center">
                <button
                  class="btn btn-success me-3"
                  (click)="openModal(mymodal, doctor._id)"
                >
                  View
                </button>
                <button
                  class="btn btn-primary me-3"
                  (click)="openEditComp(doctor._id)"
                >
                  Edit
                </button>
                <button
                  class="btn btn-danger"
                  (click)="delete_doctor(doctor._id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-row>
</c-container>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Doctor Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label class="form-label"
          >Name : <span>{{ doctorModal.name }}</span></label
        >
      </div>
      <div class="mb-3">
        <label class="form-label"
          >Gender : <span>{{ doctorModal.gender }}</span></label
        >
      </div>
      <div class="mb-3">
        <label class="form-label"
          >Qualification : <span>{{ doctorModal.qualification }}</span></label
        >
      </div>
      <div class="mb-3">
        <label class="form-label"
          >Expertise : <span>{{ doctorModal.expertise }}</span></label
        >
      </div>
      <!-- <div class="mb-3">
        <label class="form-label"
          >Experiences : <span>{{ doctorModal.experience }}</span></label
        >
      </div> -->
      <div class="mb-3">
        <label class="form-label"
          >Address : <span>{{ doctorModal.address }}</span></label
        >
      </div>
      <div class="mb-3">
        <label class="form-label"
          >Email : <span>{{ doctorModal.email }}</span></label
        >
      </div>
      <div class="mb-3">
        <label class="form-label"
          >Phone Number : <span>{{ doctorModal.phone }}</span></label
        >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
      Ok
    </button>
  </div>
</ng-template>
